@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color: #141010;
    --first-color: #e0ebeb;
    --second-color: #9818d6;
}

nav{
    background-color: var(--primary-color);
    padding:.8rem
}
.name{
    color:var(--first-color);
    font-family: 'Ms Madi', cursive;
    font-size: 1.2rem;
    margin-left: 3rem;
    letter-spacing:.2rem;
}
.links{
    text-align: end;

}
.aLinks{
    color:var(--first-color);
    font-family: 'Montserrat', sans-serif;
    padding: .8rem;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
}
.aLinks:hover{

    background-color:var(--first-color);
    font-family: 'Montserrat', sans-serif;
    padding: .8rem;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--primary-color);
    border-radius: .8rem;
}
body{
    margin:0px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display:block;
    justify-content:center;
}

.info{
    display: grid;
    justify-content: center;
}

img{
    max-height: 20rem;
    max-width: 100%;
    margin-top:6rem;

}

.info{
    color: var(--primary-color);
    text-align: center;
    letter-spacing: .1rem;
}
.description{
    margin-top: .5rem;
    margin-bottom: .1rem;
    
}
p{
    font-size: 1rem; 
    letter-spacing: .1rem;
}
.section-dark{
    display:block;
    max-width:600px;
    margin: 1rem auto;
    padding:1rem;
    background-color: var(--first-color);
    text-align: center;
    border-radius:2rem;
    max-height:22rem;
}
h2{
    padding-top: 1rem;
    letter-spacing:.1rem;
    font-size:2rem;
}
button{
    margin-top: 3rem;
    height: 2.8rem;
    width: 10rem;
    background-color:var(--second-color);
    border: 1px solid var(--first-color);
    border-radius:2rem;
    color: white;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    letter-spacing:none;
}
.button{
    color:var(--first-color);
    text-decoration:none;
}
button:hover{
    margin-top: 3rem;
    height: 2.8rem;
    width: 9rem;
    background-color:var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    border: 1px solid var(--first-color);
    border-radius:2rem;
    color: var(--first-color);
    font-weight: bolder;
    font-size:1rem;
    letter-spacing:none;
}
.download{
    color: var(--first-color);
}
.section-white
{
    display:block;
    max-width:600px;
    margin: 1rem auto;
    padding:1rem;
    text-align: center;
    max-height: 22rem;
}
.header-technologies{
    margin: 2rem; 
    margin-bottom:4rem;  
}
#p-tech
{
    margin-bottom: 1rem;
}


.head-connect
{
 padding-top: .2rem; 
}

#p-connect{
    margin-left:2rem;
    margin-right:2rem;
    margin-top:2rem;
}

.footer 
{
    background-color:var(--primary-color);
    height:10rem;
   
}
.footer-name 
{
    color:var(--first-color);   
}
h1{
    font-weight: bolder;
    margin-top:3rem;
    margin-bottom:3rem;
    font-size: 2rem;
}